mixin slider(list)
  .slider-inner
    .container
      .relative
        div(class="lg:flex -mx-6 md:-mx-8 lg:-mx-0 lg:mt-8")
          div(class="lg:w-1/2 pagination")
            .swiper-pagination
          div(class="lg:w-1/2")
            .swiper.slider-swiper
              .swiper-scrollbar.slider-scrollbar
              .swiper-wrapper
                each project in list
                  .swiper-slide
                    div.flex.flex-col.h-full
                      div.swiper-title!=project.title
                      div.swiper-text!=project.text
                      if(project.stack)
                        div.swiper-stack!=project.stack

            .slider-controls
              .slider-prev.slider-arrow
                .transform.rotate-180
                  include ../general/arrow.pug
              .slider-next.slider-arrow
                include ../general/arrow.pug