svg(width="10" height="16" fill="currentColor" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg")
    path(d="m8.709 8.71-6.364 6.364A1 1 0 1 1 .931 13.66l4.657-4.657v-2L.93 2.347A1 1 0 0 1 2.345.932l6.364 6.364a1 1 0 0 1 0 1.415Z")