svg(width="24" height="24" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
    path(d="M12.333 18.334h9.334M3 11.667h18.667M3 5h18.667" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")