section.py-28#about(data-scroll-section data-scroll-section-id="#about")
  .container
    h2.mb-8 Чем занимаемся?
    ul.about-list.grid.grid-cols-2.gap-8
      each text in i18n.about.list
        li.py-8.about-item #{text}