section#about(data-scroll-section data-scroll-section-id="#about" class="py-8 lg:py-28")
  .container
    h2.mb-8 Чем занимаемся?
    ul(class="about-list md:grid md:grid-cols-2 md:gap-8")
      each text in i18n.about.list
        li.py-8.about-item #{text}