section#blockchain.slider(data-scroll-section data-scroll-section-id="#blockchain")
  .container
    .flex.items-baseline
      h2.mb-8 Блокчейн
      span.pl-2.text-accent!=i18n.blockchain.length
  +slider(i18n.blockchain)