mixin contact-item(img, title, link)
  li.mb-6
    a(href=link class="flex items-start hover:text-accent")
      .w-8.min-w-8
        img(src=img)
      h3.px-4=title

section#contacts(data-scroll-section data-scroll-section-id="#contacts" class="py-14 md:py-20 lg:pt-32 bg-secondary")
  .container
    h2 Связаться с нами
    div(class="md:grid md:grid-cols-2 md:gap-8 md:mt-8 lg:mt-18 lg:grid-cols-3")
      p(class="my-9 font-light md:my-0") Расскажите нам о своих IT-планах и&nbsp;задайте любые вопросы, мы очень быстро ответим!
      div(class="md:row-span-2 lg:col-span-2 lg:pl-20" style="min-height:520px")
        iframe(width="100%" src="https://forms.yandex.ru/cloud/62386f1234ca5557b6a6d1f3/?iframe=1" frameborder="0" name="ya-form-62386f1234ca5557b6a6d1f3" )
      ul(class="mt-8 md:mt-0 lg:mt-10")
        +contact-item('../images/email.svg', "namaste@anicca.su", "mailto:namaste@anicca.su")
        +contact-item('../images/location.svg', "191015, г. Санкт-Петербург, Таврическая ул., д. 37, лит. А, пом. 16Н, оф. 11", "#")

