mixin contact-item(img, title, link)
  li.mb-8
    a(href=link).flex.items-center
      img(src=img).w-8
      h3.px-4=title

section#contacts(data-scroll-section data-scroll-section-id="#contacts" class="py-8 lg:py-28 .bg-secondary font-light")
  .container
    h2.headline Связаться с нами
    div(class="lg:flex mt-8 gap-4")
      .flex-1
        p Расскажите нам о своих IT-планах и задайте любые вопросы, мы очень быстро ответим!
        ul.mt-20
          +contact-item('../images/location.svg', "191015, г. Санкт-Петербург, Таврическая ул., д. 37, лит. А, пом. 16Н, оф. 11", "#")
          +contact-item('../images/email.svg', "namaste@anicca.su", "mailto:namaste@anicca.su")
      .flex-1
        p форма
        //iframe(width="650" src="https://forms.yandex.ru/cloud/62386f1234ca5557b6a6d1f3/?iframe=1" frameborder="0" name="ya-form-62386f1234ca5557b6a6d1f3" )

