footer(class="py-5 md:py-6 bg-black text-white" data-scroll-section data-scroll-section-id="#footer")
  .container
    .flex.justify-between.items-center
      a(href="").block
        img(src="../images/logo.svg" class="h-5 md:h-auto")
      p ООО «Аничча»