header.py-4.bg-black.text-white.fixed.top-0.w-full.z-10
  .container
    .flex.justify-between.items-center
      a(href="/").block
        img(src="../images/logo.svg")
      div
        ul.flex
          each item in i18n.menu
            li.flex-grow.p-4.text-sm.uppercase.font-meduim
              a(href=`#${item.link}` data-scroll-to).block
                span(class="hover:text-accent") #{item.title}