header.py-4.bg-black.text-white
  .container
    .flex.justify-between
      a(href="").block
        img(src="../images/logo.svg")
      div
        ul.flex
          each item in i18n.menu
            li.flex-grow.p-2
              a(href=item.link).block
                span #{item.title}