header.py-4.bg-black.text-white.fixed.top-0.w-full.z-10
  .container
    .flex.justify-between.items-center
      a(href="/").block
        img(src="../images/logo.svg" class="h-4 md:h-auto")
      div(class="hidden md:block")
        ul.menu__list
          each item in i18n.menu
            li.menu__item
              a(href=`#${item.link}` data-scroll-to).block
                span(class="hover:text-accent") #{item.title}