mixin hero-info()
  div.flex-1
    h2.title.mb-8 Запускаем корпоративные <span class="text-accent">стартапы</span>
    p.mb-16 Расскажите нам о своем проекте и задайте любые вопросы! Мы ответим в самое ближайшее время
    a(href="#contacts" data-scroll-to).block
      button.button
        .button__filler
        .button__text
          .button__text-inner Связаться

section(data-scroll-section class="py-8 lg:py-28 bg-secondary")
    .wrapper
      .hero
        .container
          .flex
            .flex-1
              +hero-info()
            .flex-1
              img(src="../images/hero.svg")
      //.hero.hero--secondary(area-hidden="true" data-hero)
      //  .container
      //    .flex
      //      .flex-1
      //        +hero-info()
      //      .flex-1
      //        img(src="../images/hero-invert.svg")