section.hero.bg-main-grey.py-8
  .container
    div(class="lg:flex")
      div
        h2.title Запускаем корпоративные <span>стартапы</span>
        p Расскажите нам о своем проекте и задайте любые вопросы! Мы ответим в самое ближайшее время
      div
        img(src="../images/hero.svg")