section(data-scroll-section data-scroll-section-id="#neobank" class="neobank")#neobank
  .container
    h2 Необанк
    div(class="md:flex md:gap-4 my-11 lg:my-18 lg:pl-24 lg:gap-10")
      div()
        p(class="text-sm md:text-lg font-medium uppercase tracking-wider mb-8") Современный сервис для удобной оплаты товаров и услуг в Интернете
        a(href="../images/neobankAnicca.pdf" target="_blank" rel="nofollow noopener" class="hidden md:flex items-center text-accent uppercase gap-4 text-sm font-medium")
          |Скачать схему
          include ../general/circle-arrow.pug
      div(class="font-light leading-relaxed")
        p(class="mb-2 lg:mb-6") Проектируемое решение даст пользователям в России возможность приобретать предоплаченные виртуальные карты иностранного банка с установленным номиналом ($10/ $20/$50/$100) для оплаты сервисов в Интернете.
        p Карты выпускаются с ограниченным сроком действия, и по его истечении отзываются банком вместе с остатком на карте.

    div()
      img(src="../images/scheme.jpeg" class="neobank-img")
