section(data-scroll-section data-scroll-section-id="#neobank" class="py-14 md:py-20 lg:py-32 bg-primary text-white")
  .container
    h2 Необанк
    .flex.gap-4.mt-20
      div
        p(class="uppercase text-lg font-medium") Современный сервис для удобной оплаты товаров и услуг в Интернете
        a(href="../images/scheme.jpeg" target="_blank" rel="nofollow noopener" class="flex items-center text-accent uppercase gap-4 text-sm font-medium")
          |Скачать схему
          include ../general/circle-arrow.pug
      div(class="font-light")
        p.mb-4 Проектируемое решение даст пользователям в России возможность приобретать предоплаченные виртуальные карты иностранного банка с установленным номиналом ($10/ $20/$50/$100) для оплаты сервисов в Интернете.
        p Карты выпускаются с ограниченным сроком действия, и по его истечении отзываются банком вместе с остатком на карте.

    div
      img(src="../images/scheme.jpeg")
