section#products.slider(data-scroll-section data-scroll-section-id="#products")
  .container
    .flex.items-baseline
      h2.mb-4 Импортозамещение
      span.pl-2.text-accent!=i18n.blockchain.length
    .flex.gap-4
      span.text-5xl.text-accent *
      p.font-light.pt-1 Российские сервисы и платформы, которые помогут заменить иностранное ПО
  +slider(i18n.blockchain)