section#projects.projects(data-scroll-section data-scroll-section-id="#projects")
  .container
    .flex.items-baseline
      h2.mb-8 Проекты
      span.pl-2.text-accent!=i18n.projects.length
    .swiper.slider-swiper
      .swiper-scrollbar.slider-scrollbar
      .swiper-wrapper
        each project in i18n.projects
          .swiper-slide
            div.projects-slide
              div.projects-title!=project.title
              div!=project.text
              if(project.stack)
                div.projects-stack!=project.stack

      .slider-controls
        .slider-prev.slider-arrow
          .transform.rotate-180
            include ../general/arrow.pug
        .slider-next.slider-arrow
          include ../general/arrow.pug
