.about {
  @apply py-14 md:py-20 lg:py-32;
  @apply border border-x-0 border-current;
}

.about-list {
  @apply mt-18 lg:mt-28;
  @apply md:grid md:grid-cols-2 md:gap-8 lg:gap-12;
  @apply xl:gap-x-40 xl:gap-y-18;
  counter-reset: section;
}

.about-item {
  @apply relative pl-18 leading-relaxed pb-9 lg:pb-0;
}

.about-item:before {
  content: "";
  width: 45px;
  height: 45px;
  @apply absolute flex justify-center items-center;
  @apply left-0 top-0 rounded-full;
  background: linear-gradient(to bottom, #EF2500, #ffffff);
}
.about-item:after {
  counter-increment: section;
  content: counter(section);
  width: 39px;
  height: 39px;
  left: 3px;
  top: 3px;
  @apply absolute flex justify-center items-center;
  @apply bg-white rounded-full text-xl;
}

.neobank {
  @apply py-10 md:py-20 lg:py-32 bg-primary text-white relative;
}
.neobank .container {
  @apply relative z-10;
}
.neobank:after {
  content: " ";
  @apply border border-x-0 border-black;
  @apply absolute w-full h-32 bottom-0 bg-white;
}

.neobank-img {
  @apply mb-6;
  box-shadow: 4px 4px 0 0 #EF2500;
}