.about {
  @apply py-12 lg:py-28;
  @apply border border-x-0;
}

.about-list {
  @apply md:grid md:grid-cols-2 md:gap-8;
  counter-reset: section;
}

.about-item {
  @apply relative;
  @apply pl-16 py-8;
}

.about-item:before {
  counter-increment: section;
  content: counter(section);
  @apply absolute w-12 h-12 flex justify-center items-center;
  @apply left-0 rounded-full border-3 border-accent;
}
