body {
    --button-border-radius: 4px;
    --button-bg: #EF2500;
    --button-bg-hover: #d8d4cf;
    --button-stroke-hover: #fff;
    --button-stroke-width-hover: 1px;
    --button-filler: #000;
    --color-bg: #ccc;
}

.button {
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: var(--button-bg);
    border-radius: var(--button-border-radius);
    @apply text-white text-sm uppercase font-medium;
    @apply flex items-center justify-center px-4;
    @apply h-12 lg:h-14 w-full overflow-hidden;
}

.button:focus,
.button--hover {
    outline: none;
}

.button__filler {
    background: var(--button-filler);
    position: absolute;
    width: 150%;
    height: 200%;
    border-radius: 50%;
    top: -50%;
    left: -25%;
    transform: translate3d(0,75%,0);
}

.button__text,
.button__text-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}