body {
  --cursor-stroke: black;
  --cursor-fill: none;
  --cursor-stroke-width: 2;
}

.cursor {
  display: none;
}

@media (any-pointer:fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    z-index: 1001;
  }
  .cursor-circle {
    fill: var(--cursor-fill);
    stroke: var(--cursor-stroke);
    stroke-width: var(--cursor-stroke-width);
  }
  .no-js .cursor {
    display: none;
  }
}



