.section {
  @apply mt-2 pt-20 pb-20 md:py-20 lg:py-24 bg-secondary;
  @apply overflow-hidden;
}

.wrapper {
  @apply relative;
}

.hero {
  @apply flex items-center text-center md:text-left
}

.hero--secondary {
  @apply absolute w-full h-full top-0 left-0;
  /*color: rgb(9, 14, 23);*/
  --mask: radial-gradient(circle at var(--x, 10%) var(--y, 50%), black 15%, transparent 0);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}