.projects{
    /*background:linear-gradient(to right, #ffffff 50%, #0D0D0D 50%);;*/

}

.projects
.swiper {
    background: #0D0D0D;
    @apply text-white;
}
.projects
.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    bottom: 0;
    @apply flex lg:flex-col;
}

.projects
.swiper-pagination-bullet {
    font-size: 0;
    @apply lg:text-xs font-medium uppercase;
    @apply relative block p-0 lg:py-8 px-16;
    @apply border-solid border-y-4 border-x-0 lg:border-y-0 lg:border-l-4;
    @apply opacity-100;
    @apply lg:w-full lg:h-auto;
    border-radius: 0;
    background: none;
    text-align: left;
    box-sizing: border-box;
    transition: color .5s ease-in-out;
}
.projects
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @apply m-0;
}

.projects
.swiper-pagination-bullet-active {
    @apply text-accent;
}

.projects
.swiper-slide {
    /*height: 620px;*/
    @apply p-8 lg:p-20 lg:pr-0;
}

.projects-controls {
    @apply text-white absolute right-0 top-16 z-10;
    @apply flex items-center gap-4;
}


.projects-prev {

}

.projects-next {}
