@media (min-width: 1024px) {
    .projects-inner {
        background: linear-gradient(to right, #ffffff 50%, #0D0D0D 50%);
    }
}

.projects {
    @apply overflow-hidden;
    @apply py-14 lg:py-28;
}

.projects .swiper {
    margin-top: 50px;
    @apply bg-primary text-white ;
    @apply overflow-visible;
}
.projects .swiper-wrapper {
    @apply h-auto;
}
.projects .swiper-horizontal > .swiper-scrollbar {
    left: 6%;
    width: 88%;
}

.projects .swiper-slide {
    @apply h-auto lg:h-full;
    /*height: 620px;*/
    @apply py-9 px-7 lg:p-20 lg:pr-0;
}

.swiper-title {
    @apply text-lg md:text-2xl font-medium text-accent uppercase;
    @apply md:pr-24;
}
.swiper-text {
    @apply mb-auto py-4 leading-relaxed;
}
.swiper-stack {
    @apply font-medium uppercase text-sm leading-relaxed;
}
.swiper-year {
    @apply text-lg text-accent mt-6;
}

