@media (min-width: 1024px) {
    .slider-inner {
        background: linear-gradient(to right, #ffffff 50%, #0D0D0D 50%);
    }
}

.slider {
    @apply overflow-hidden;
    @apply pt-14 md:pt-20 lg:pt-32;
}

.slider .swiper {
    @apply bg-primary text-white ;
    @apply overflow-visible lg:overflow-hidden;
    @apply mt-12 lg:mt-0;
}
.slider .swiper-wrapper {
    @apply h-auto;
}
.slider .swiper-horizontal > .swiper-scrollbar {
    left: 6%;
    width: 88%;
}

.slider .swiper-slide {
    @apply h-auto;
    @apply py-9 px-7 lg:pl-12 lg:pr-0 lg:py-14 xl:pl-20;
}

.swiper-title {
    @apply text-lg font-medium text-accent uppercase;
    @apply md:text-2xl;
    @apply xl:text-3xl;
}
.swiper-text {
    @apply mb-auto py-4 leading-relaxed;
    @apply lg:py-8 lg:leading-7;
}
.swiper-stack {
    @apply font-medium uppercase text-sm leading-relaxed;
    @apply xl:text-base;
}


